* {
	margin: 0px auto 0px auto;
}
body{
	margin: 0;
}
.header1{
	color: white;
	width: 100%;
	height: 150px;
	max-width: 1920px;
	margin:auto;
	display: flex;
	justify-content: space-between;
	background: black;
}
.section1{
	width: 100%;
	height: 500px;
	display: flex;
	margin:auto;
	background-image: url("https://sun9-12.userapi.com/tVUzrMEBWy0BLxK5q2ttrjSnwngaYkHG0_L6EQ/Jt8tGMuy19U.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1920px;
    font-size: 20px;
	
}
.headimg{
	padding-bottom: 124px;
	padding-top: 62px;
 	max-width: 700px;
 	max-height: 376px;
 	height: 80%;
 	width:40%;
 	margin-right: 0;
}
.section1>.sectionHead{
	padding-top: 180px;
	max-width: 659px;
	color: white;
	font-size: 26px;
	margin-left: 71px;
}
.sectionHead>h2{
	font-family: Roboto;
	font-style: normal;
	font-size: 48px;
}
.item{
	display: inline;
	flex-direction: row;
	align-items: flex-start;
}
.item-link{
	color:white;
	text-decoration: none;
	margin-left: 10px;
	margin-right:10px;
	font-size: 12px;
	line-height: 14px;

}
.list{
	padding: 63px;
	margin: 0;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
}
.logo{
	padding-left: 361px;
	padding: 35px;
	margin:0;
	font-family: Saira;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: #FFFFFF;
}
.article1{
	max-width: 1920px;
	width: 100%;
	height: 484px;
	background: #FFFFFF;
}
.article2
{
	width: 100%;
	height: 419px;
	max-width: 1920px;
	margin:auto;
	background-image: url("https://sun9-12.userapi.com/tVUzrMEBWy0BLxK5q2ttrjSnwngaYkHG0_L6EQ/Jt8tGMuy19U.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1920px;
}
.article3{
	max-width: 1920px;
	width: 100%;
	height: 514px;
	background: #FFFFFF;
	display: flex;
}
.footerinfo{	
	text-align: left; 
	margin: auto; 
	padding-left: 100px;
	padding-top: 50px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: #FFFFFF;
}
.footerh2{
	font-family: Roboto;
	font-style: normal;
	font-size: 21px;
	color: #FFFFFF;
}
.Footer{
	width: 100%;
	height: 151px;
	background:  black;
	max-width: 1920px;
	margin:auto;
	justify-content: space-between;
}
.artsec{
	display: flex;
}
.artsec2{
	display: flex;
}
.artsec3{
	display: flex;
}
.artsec>img{
	padding-top: 95px;
	padding-bottom: 95px;
	width: 473px;
	height: 295px;
	margin-left: 0;
	justify-content: center;
}
.artperm{
	padding-top: 179px;
	padding-bottom: 179px;
	width: 568px;
	height: 237px
	margin:0;
	margin-right: 146px;
	text-align:justify;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: #000000;
}
.artperm2>h2{
	font-family: Roboto;
	font-style: normal;
	font-size: 18px;
}
.General{
	padding-top: 156px;
	padding-bottom: 156px;
	width: 568px;
	height: 237px;
	margin-left: 0;
	justify-content: center;
	text-align:justify;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: #FFFFFF;
}
.article2>img{
	padding-top: 20px;
}
.artsec2>img{
	margin-right: 146px;
	padding-top: 63px;
	padding-bottom: 63px;
	width: 473px;
	height: 295px;
}
.artsec3>img{
	padding-top: 110px;
	padding-bottom: 109px;
	width: 473px;
	height: 295px;
	margin-left: 0;
	justify-content: center;
}
.artperm2{
	padding-top: 90px;
	padding-bottom: 90px;
	width: 568px;
	height: 237px
	margin:0;
	margin-right: 146px;
	text-align:justify;
	font-family: Roboto;
	font-style: normal;
	font-size: 18px;
	color: #000000;
}
 @media (max-width: 1100px) {
.footerinfo{
	padding-left: 100px;
	text-align: left; 
	margin: auto; 
	padding-top: 50px;
	font-size: 28px;
	color: #FFFFFF;
}
.logo{
	width: 126px;
	padding-right: 0px;
	padding-top: 5px;
	margin:0;
	font-size: 48px;
	color: #FFFFFF;
}
.list{
	padding: 63px;
	padding-right: 35px;
	padding-left: 5px;
	margin: 0;
	font-size: 16px;
	}

.headimg{
	padding-bottom: 124px;
	padding-left: 20px;
	padding-top: 180px;
 	max-width: 346px;
 	max-height: 171px;
 	margin-right: 0;
}
.section1>.sectionHead{
	padding-top: 120px;
	max-width: 659px;
	color: white;
	font-size: 28px;
	margin-left: 51px;
	font-style: bold;
	font-weight: bold;
}
.information{
	text-align: center;
	padding-top: 87px;
	padding-bottom: 87px;
	padding-left: 10px;
	padding-right: 10px;
	max-width: 990px;
	font-size: 28px;
	font-style: bold;
	font-weight: bold;
}
.artsec>img{
	padding-top: 140px;
	padding-bottom: 62px;
	width: 373px;
	height: 195px;
}
.artperm{
	margin-right: 10px;
	padding-top: 120px;
	padding-bottom: 91px;
	width: 568px;
	height: 137px;
	font-size: 28px;
	font-style: bold;
	font-weight: bold;
}
.artperm>h2{
	font-size: 16px;
	padding-bottom: 20px;
}
.artsec2>img{
	margin:auto;
	margin-right: 5px;
	padding-top: 130px;
	padding-bottom: 62px;
	width: 373px;
	height: 195px;
}
.General{
	margin:auto;
	margin-left: 5px;
	padding-top: 95px;
	padding-bottom: 91px;
	width: 568px;
	height: 137px;
	font-size: 28px;
	font-style: bold;
	font-weight: bold;
}
.General>h2{
	font-size: 28px;
	padding-bottom: 20px;
}
.artsec3>img{
	padding-top: 360px;
	padding-bottom: 62px;
	width: 373px;
	height: 195px;
}
.artperm2{
	margin-right: 10px;
	padding-top: 100px;
	padding-bottom: 91px;
	width: 568px;
	height: 137px;
	font-size: 28px;
	font-style: bold;
	font-weight: bold;
}
.artperm2>h2{
	font-size: 28px;
	padding-bottom: 20px;
}
.article3{
	height: 950px;
}
}
@media (max-width: 767px) {
	.footerinfo{
	padding-left: 100px;
	text-align: left; 
	margin: auto; 
	padding-top: 50px;
	font-size: 13px;
	color: #FFFFFF;
}
.Footer{
	width: 100%;
	height: 151px;
	background:  black;
	max-width: 767px;
	margin:auto;
	justify-content: space-between;
}
.header1{
	color: white;
	width: 100%;
	height: 157px;
	max-width: 767px;
	margin:auto;
	display: flex;
	justify-content: space-between;
	background: black;
	
	}
.section1{
	width: 100%;
	height: 525px;
    max-width: 1920px;
    font-size: 20px;
	
}
.item{
	display: inline;
	flex-direction: row;
	align-items: flex-start;
}
.item-link{
	color:white;
	text-decoration: none;
	margin-left: 10px;
	margin-right:10px;
	font-size: 8px;
	line-height: 14px;

}
.list{
	padding: 63px;
	padding-right: 35px;
	padding-left: 0px;
	margin: 0;
	font-size: 16px;
}
.logo{
	width: 126px;
	padding-left: 0px;
	padding: 5px;
	margin:0;
	font-size: 48px;
	color: #FFFFFF;
}
.headimg{
	padding-bottom: 124px;
	padding-left: 7px;
	padding-top: 192px;
 	max-width: 346px;
 	max-height: 171px;
 	margin-right: 0;
}
.artsec>img{
	padding-top: 120px;
	padding-bottom: 62px;
	width: 282px;
	height: 176px;
}
.artperm{
	margin-right: 10px;
	padding-top: 120px;
	padding-bottom: 91px;
	width: 330px;
	height: 137px;
}
.artperm>h2{
	font-size: 16px;
	padding-bottom: 20px;
}
.artsec2>img{
	padding-top: 120px;
	padding-bottom: 62px;
	margin-right: 10px;
	width: 282px;
	height: 176px;
}
.General{
	margin-right: 10px;
	padding-top: 120px;
	padding-bottom: 91px;
	width: 330px;
	height: 137px;
}
.General>h2{
	font-size: 16px;
	padding-bottom: 20px;
}
.artsec3>img{
	padding-top: 120px;
	padding-bottom: 62px;
	width: 282px;
	height: 176px;
}
.artperm2{
	margin-right: 10px;
	padding-top: 120px;
	padding-bottom: 91px;
	width: 330px;
	height: 137px;
}
.artperm2>h2{
	padding-bottom: 20px;
}
}