* {
	margin: 0px auto 0px auto;
}
body{
	margin: 0;
}
.header1{
	color: white;
	width: 100%;
	height: 150px;
	max-width: 1920px;
	margin:auto;
	display: flex;
	justify-content: space-between;
	background: black;
}
.section1{
	width: 100%;
	height: 500px;
	display: flex;
	margin:auto;
	background-image: url("https://sun9-12.userapi.com/tVUzrMEBWy0BLxK5q2ttrjSnwngaYkHG0_L6EQ/Jt8tGMuy19U.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1920px;
    font-size: 20px;
	
}
.headimg{
	padding-bottom: 124px;
	padding-top: 62px;
 	max-width: 700px;
 	max-height: 376px;
 	height: 80%;
 	width:40%;
 	margin-right: 0;
}
.section1>.sectionHead{
	padding-top: 180px;
	max-width: 659px;
	color: white;
	font-size: 26px;
	margin-left: 71px;
}
.sectionHead>h2{
	font-family: Roboto;
	font-style: normal;
	font-size: 48px;
}
.item{
	display: inline;
	flex-direction: row;
	align-items: flex-start;
}
.item-link{
	color:white;
	text-decoration: none;
	margin-left: 10px;
	margin-right:10px;
	font-size: 12px;
	line-height: 14px;

}
.list{
	padding: 63px;
	margin: 0;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
}
.logo{
	padding-left: 361px;
	padding: 35px;
	margin:0;
	font-family: Saira;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: #FFFFFF;
}
article{
	max-width: 1920px;
	width: 100%;
	height: 595px;
	background: #FFFFFF;
}
.sec1>h2{
	padding-top: 40px;
	font-family: Roboto;
	font-style: normal;
	font-size: 48px;
	display: flex;
	justify-content: center;
}
.sec2{
	display: flex;
}
.sec2>img{
	padding-top: 80px;
	width: 473px;
	height: 295px;
}
.footerinfo{
	text-align: left; 
	margin: auto; 
	padding-left: 100px;
	padding-top: 50px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: #FFFFFF;
}
.footerh2{
	font-family: Roboto;
	font-style: normal;
	font-size: 21px;
	color: #FFFFFF;
}
.Footer{
	width: 100%;
	height: 151px;

	background:  black;
	max-width: 1920px;
	margin:auto;
	justify-content: space-between;
}
 @media (max-width: 1100px) {
.Footer{
	position: absolute;
	text-align: center;
}
.footerinfo{
	padding-left: 100px;
	text-align: left; 
	margin: auto; 
	padding-top: 50px;
	font-size: 28px;
	color: #FFFFFF;
}
	.logo{
	width: 126px;
	padding-right: 0px;
	padding-top: 5px;
	margin:0;
	font-size: 48px;
	color: #FFFFFF;
}
.list{
	padding: 63px;
	padding-right: 35px;
	padding-left: 5px;
	margin: 0;
	font-size: 16px;
	}

.headimg{
	padding-bottom: 124px;
	padding-left: 20px;
	padding-top: 180px;
 	max-width: 346px;
 	max-height: 171px;
 	margin-right: 0;
}
.section1>.sectionHead{
	padding-top: 200px;
	max-width: 659px;
	color: white;
	font-size: 28px;
	margin-left: 51px;
	font-style: bold;
	font-weight: bold;
}
.sec2{
	 flex-direction: column;
}
article{
	height: 920px;
}
}
@media (max-width: 767px) {
	.footerinfo{
	padding-left: 100px;
	text-align: left; 
	margin: auto; 
	padding-top: 50px;
	font-size: 13px;
	color: #FFFFFF;
}
.Footer{
	width: 100%;
	height: 151px;
	background:  black;
	max-width: 767px;
	margin:auto;
	justify-content: space-between;
}
.header1{
	color: white;
	width: 100%;
	height: 157px;
	max-width: 767px;
	margin:auto;
	display: flex;
	justify-content: space-between;
	background: black;
	
	}
.section1{
	width: 100%;
	height: 525px;
    max-width: 1920px;
    font-size: 20px;
	
}
.item{
	display: inline;
	flex-direction: row;
	align-items: flex-start;
}
.item-link{
	color:white;
	text-decoration: none;
	margin-left: 10px;
	margin-right:10px;
	font-size: 8px;
	line-height: 14px;

}
.list{
	padding: 63px;
	padding-right: 35px;
	padding-left: 0px;
	margin: 0;
	font-size: 16px;
}
.logo{
	width: 126px;
	padding-left: 0px;
	padding: 5px;
	margin:0;
	font-size: 48px;
	color: #FFFFFF;
}
.headimg{
	padding-bottom: 124px;
	padding-left: 7px;
	padding-top: 192px;
 	max-width: 346px;
 	max-height: 171px;
 	margin-right: 0;
}
.section1>.sectionHead{
	padding-top: 230px;
	max-width: 659px;
	color: white;
	font-size: 15px;
	margin-left: 51px;
}
}